<% if flash[:error] %>
  <div id="error_explanation" class="panel">
    <h2><%= pluralize(flash[:error].count, "error") %> prohibited this assignment from being saved:</h2>

    <ul>
    <% flash[:error].each do |atr, msg| %>
      <li><%= atr %> <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h1>SDP Pitch Booking</h1>
<ul>
  <li>Each group can hold one booking at a time</li>
  <li>You must wait until your booking has started in order to make another booking</li>
</ul>

<dl class="sub-nav">
  <dt>Room:</dt>
  <% @rooms.each do |r| %>
    <dd><%= link_to r.name, slots_path(room_id: r) %></dd>
  <% end %>
</dl>

<h2><%= @room.name %></h2>
<div class="small-12 columns">
<table>
  <thead>
    <tr>
      <th width="250">Time</th>
      <th width="500">Group</th>
    </tr>
  </thead>
  <tbody>
    <% @room.slots.each do |slot| %>
      <%= form_for slot, url: slot_path(slot.id) do |f| %>
        <tr>
          <td>
            <%= slot.start_time.to_formatted_s(:long) %> - <%= slot.end_time.to_formatted_s(:time) %>
          </td>
          <td>
            <%= f.collection_select :group_id, Group.all, :id, :name, include_blank: " " %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<script>
  $("select").change(function() {
    $(this).parents("form").submit();
  });
</script>
